/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat", sans-serif; */
/* Media queries */
/* Medium - 700px */
/* Large - 900px */
/* X Large - 1200px */

/* Variables */
:root {
    /* Colors */
    --clr-white: rgb(243, 245, 246);
    --clr-light: rgba(255, 255, 255, 0.6);
    --clr-dark: rgb(33, 33, 36);
    --clr-black: rgb(0, 0, 0);
}

/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-container {
    height: 100svh;
    width: 100%;
    background-image: url("../img/mobile/mount_stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Nav Bar */
.header {
    background-color: rgba(0, 0, 0, 0.25);
    height: 64px;
    min-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
/* Nav Left */

/* Nav Center */
/* Nav Right */

.header-right {
    /* background-color: chartreuse; */
    text-align: left;
}

.header-right > ul {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}
.header-right-search {
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right-search a {
    color: var(--clr-white);
    font-size: 24px;
}

.header-btn-link {
    margin-left: 24px;
    padding: 5px 10px;
    border: 4px solid var(--clr-white);
}

.header-btn-link a {
    color: var(--clr-white);
}

.header-sign-up {
    background-color: var(--clr-white);
    font-size: 16px;
    min-width: 80px;
    height: 32px;
    padding: 0 20px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    color: var(--clr-dark);
    font-weight: 700;
    border: 1px solid var(--clr-white);
    border-radius: 3px;
}

.header-sign-up a {
    color: var(--clr-black);
}

.hide-small {
    display: none;
}

.hidden-until-xl {
    display: none;
}

/* Main Content */
.main-content {
    /* background-color: brown; */
    height: calc(100svh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main-content-title {
    font-size: 2.5rem;
    text-align: center;
}

.main-content-btn {
    background-color: var(--clr-white);
    font-size: 22px;
    height: 60px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    color: var(--clr-dark);
    font-weight: 700;
    border: 1px solid var(--clr-white);
    border-radius: 3px;
}

/* Bottom */
.bottom-container {
    background-color: var(--clr-black);
    padding: 10px;
    font-size: 14px;
}

.bottom-container__links ul {
    padding: 0;
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bottom-container__links .bottom-container-item {
    padding: 16px 0;
    border-bottom: 1px solid var(--clr-light);
}
.bottom-container-item a {
    color: var(--clr-light);
}

/* Bottom Socials */
.bottom-container__socials {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}
/* .bottom-container-first {
   hidden at mobile
} */

.bottom-container-second {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 10px;
    color: var(--clr-light);
}
/* .bottom-container-second p{
} */
.bottom-container-second a {
    color: var(--clr-light);
}

.bottom-container-third ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 0 20px;
    padding: 10px 0;
}

.bottom-container-third-links a {
    color: var(--clr-light);
    font-size: 20px;
}
@media screen and (min-width: 600px) {
    .main-content-title {
        font-size: 3.5rem;
    }
}
/* Tablet */
@media screen and (min-width: 700px) {
    .main-container {
        height: 85vh;
    }
    .large-screens {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .hide-small {
        display: flex;
    }

    .header-btn-link {
        margin-left: 24px;
        padding: 5px 10px;
        border: none;
    }

    .main-content {
        height: calc(100svh - 64px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 1;
        padding-top: 150px;
    }

    .main-content-text {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        padding: 2rem;
    }
    /* Bottom */
    .bottom-container {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-black);
        padding: 0 10px;

        font-size: 14px;
        height: 100%;
    }

    .bottom-container__links ul {
        padding: 0 10px;
        /* background-color: burlywood; */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid var(--clr-light);
    }

    .bottom-container__links .bottom-container-item {
        padding: 8px 0px 16px 0px;
        border-bottom: none;
    }
    .bottom-container-item a {
        color: var(--clr-light);
    }

    /* Bottom - third */
    .bottom-container__socials {
        /* background-color: brown; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }
    .bottom-container-first {
        display: flex;
        justify-content: flex-start;
    }
    .bottom-container-first ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 10px 0;
        margin: 0 20px;
    }

    .bottom-container-first-links a {
        color: var(--clr-light);
    }
}

@media screen and (min-width: 830px) {
    /* Bottom - second */
    .bottom-container-second {
        text-align: center;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .hidden-until-xl {
        display: flex;
    }
    .hide-small {
        display: none;
    }
}
