/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat", sans-serif; */

:root {
    /* Colors */
    --clr-white: rgb(243, 245, 246);
    --clr-light: rgba(255, 255, 255, 0.6);
    --clr-lighter: rgba(255, 255, 255, 0.2);
    --clr-dark: rgba(33, 33, 36, 0.5);
    --clr-black: rgb(0, 0, 0);
    --clr-black-soft: rgba(0, 0, 0, 0.2);

    --fs-h1: 2.5rem;
    --fs-main-btn: 1.3rem;
    --fs-main-a: 0.9rem;
    --fs-footer-a: 0.9rem;
}
@media screen and (min-width: 700px) {
    :root {
        --fs-h1: 3rem;
        --fs-h3: 1.7rem;
        --fs-main-btn: 1.5rem;
    }
}
/* X Large */
@media screen and (min-width: 1200px) {
    :root {
        --fs-h1: 4rem;
        --fs-h3: 2rem;
        --fs-main-btn: 1.7rem;
        --fs-main-a: 0.9rem;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global */
body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

body a {
    color: #fff;
    text-decoration: none;
    font-size: var(--fs-main-a);
}

body a.btn {
    padding: 7px 20px;
    background: #fff;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
}

body a.btn:hover {
    color: var(--clr-dark);
}

.main-container .logo-img {
    background-image: url("../icons/flickr_logo.svg");
    background-size: cover;
    height: 3.5rem;
    width: 3.5rem;
}
/* background-image: url("../img/mobile/mount_stars.jpg"); */
/* Main-container */
.main-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 105svh;
    display: flex;
    position: relative;
    transition: background-image 1s ease-in-out;
}

/* Images */
.image-mobile-1 {
    background-image: url("../img/mobile/mount_dusk.jpg");
}
.image-mobile-2 {
    background-image: url("../img/mobile/mount_stars.jpg");
}
.image-mobile-3 {
    background-image: url("../img/mobile/sunset.jpg");
}
.image-mobile-4 {
    background-image: url("../img/mobile/tree.jpg");
}
.image-mobile-5 {
    background-image: url("../img/mobile/waterfall.jpg");
}

/* .image-med-1 {
    background-image: url("../img/med/grass_med.jpg");
}
.image-med-2 {
    background-image: url("../img/med/mount_grass_med.jpg");
}
.image-med-3 {
    background-image: url("../img/med/mount_snow_stars_med.jpg");
}
.image-med-4 {
    background-image: url("../img/med/person_sunset_med.jpg");
}
.image-med-5 {
    background-image: url("../img/med/river_med.jpg");
} */

/* Header */
.main-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-black-soft);
    padding: 15px 30px;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

header .logo {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-size: 1.7rem;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header .search_hidden {
    display: none;
}

header .header-buttons a {
    margin-left: 1rem;
}

header .header-buttons .btn {
    display: none;
}

header .header-buttons #log-in {
    border: 2px solid var(--clr-white);
    padding: 5px 10px;
}
/* Main */
main {
    margin: auto;
    color: var(--clr-white);
    text-align: center;
    height: 15vh;
}

main h1 {
    font-size: var(--fs-h1);
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

main h3 {
    display: none;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

main a.btn {
    font-size: var(--fs-main-btn);
    font-weight: 700;
}

/* Footer */
footer {
    width: 100%;
    background: var(--clr-black);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr) 1.5fr 1.3fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    height: auto;
    padding: 15px;
    text-align: center;
}

#about {
    grid-area: 1 / 1 / 2 / 2;
}

#jobs {
    grid-area: 2 / 1 / 3 / 2;
}

#blog {
    grid-area: 3 / 1 / 4 / 2;
}

#advertise {
    grid-area: 4 / 1 / 5 / 2;
}

#developers {
    grid-area: 5 / 1 / 6 / 2;
}

#guidelines {
    grid-area: 6 / 1 / 7 / 2;
}

#privacy {
    grid-area: 7 / 1 / 8 / 2;
}

#terms {
    grid-area: 8 / 1 / 9 / 2;
}

#help-forums {
    grid-area: 9 / 1 / 10 / 2;
}

#english {
    grid-area: 10 / 1 / 11 / 2;
}

#footer-slogan {
    align-self: flex-end;
    grid-area: 11 / 1 / 12 / 2;
}

.social-icons {
    align-self: center;
    grid-area: 12 / 1 / 13 / 2;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.social-icons a {
    font-size: 1.2rem;
}

.footer-text-hidden {
    display: block;
}

footer a,
.footer-text-hidden {
    color: var(--clr-light);
    font-size: var(--fs-footer-a);
}

footer a:hover {
    color: var(--clr-white);
}

#help,
#cookies {
    display: none;
}

#about,
#jobs,
#blog,
#advertise,
#developers,
#guidelines,
#help-forums,
#privacy,
#terms,
#english {
    border-bottom: 1px solid var(--clr-lighter);
    text-align: left;
    padding: 10px 0;
}

.underline {
    height: 1px;
    background-color: var(--clr-lighter);
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 700px) {
    .underline {
        display: none; /* Hide the underline */
    }
}

@media screen and (min-width: 700px) {
    /* Header */
    header .header-buttons .btn {
        display: inline;
    }

    header .header-buttons #log-in {
        border: none;
        font-weight: 500;
    }

    header .header-buttons #log-in:hover {
        color: var(--clr-black);
    }

    /* Main */
    .main-container {
        /* background-image: url("../img/med/grass_med.jpg"); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }

    /* Images */
    .image-med-1 {
        background-image: url("../img/med/grass_med.jpg");
    }
    .image-med-2 {
        background-image: url("../img/med/mount_grass_med.jpg");
    }
    .image-med-3 {
        background-image: url("../img/med/mount_snow_stars_med.jpg");
    }
    .image-med-4 {
        background-image: url("../img/med/person_sunset_med.jpg");
    }
    .image-med-5 {
        background-image: url("../img/med/river_med.jpg");
    }

    .main-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        width: 80vw;
    }

    .main-content h1 {
        font-size: var(--fs-h1);
    }

    .main-content > * {
        margin-bottom: 1rem;
    }

    .main-content h3 {
        display: block;
        font-size: var(--fs-h3);
        line-height: 2rem;
        margin-bottom: 3rem;
    }

    main a.btn {
        width: fit-content;
        margin: 5vh auto 0;
        font-size: var(--fs-main-btn);
        font-weight: 700;
    }

    /* Footer */
    footer {
        width: 100%;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 1fr 0.3fr 1.3fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        height: auto;
        padding: 15px;
        text-align: center;
        align-items: center;
        position: absolute;
        bottom: 0;
    }

    #about {
        grid-area: 1 / 1 / 2 / 2;
    }

    #jobs {
        grid-area: 1 / 2 / 2 / 3;
    }

    #blog {
        grid-area: 1 / 3 / 2 / 4;
    }

    #advertise {
        grid-area: 1 / 4 / 2 / 5;
    }

    #developers {
        grid-area: 1 / 5 / 2 / 6;
    }

    #guidelines {
        grid-area: 1 / 6 / 2 / 7;
    }

    #help {
        grid-area: 1 / 7 / 2 / 8;
    }

    #help-forums {
        grid-area: 1 / 8 / 2 / 9;
    }

    #english {
        grid-area: 1 / 9 / 2 / 10;
    }

    #privacy {
        grid-area: 3 / 1 / 4 / 2;
    }

    #terms {
        grid-area: 3 / 2 / 4 / 3;
    }

    #cookies {
        grid-area: 3 / 3 / 4 / 4;
    }

    #footer-slogan {
        grid-area: 3 / 4 / 4 / 7;
    }

    .social-icons {
        grid-area: 3 / 7 / 4 / 10;
        align-self: center;

        display: flex;
        justify-content: center;
        gap: 1.3rem;
    }

    .underline {
        grid-area: 2 / 1 / 3 / 10;
    }

    #footer-slogan {
        align-self: flex-end;
    }

    .social-icons a {
        font-size: 1.2rem;
    }

    .footer-text-hidden {
        display: block;
    }

    footer a,
    .footer-text-hidden {
        color: var(--clr-light);
        font-size: var(--fs-footer-a);
    }

    #help,
    #cookies {
        display: block;
    }

    #about,
    #jobs,
    #blog,
    #advertise,
    #developers,
    #guidelines,
    #help,
    #help-forums,
    #privacy,
    #terms,
    #cookies,
    #english {
        border-bottom: none;
        text-align: center;
        padding: 0;
    }
}

@media screen and (min-width: 1100px) {
    .underline {
        display: none; /* Hide the underline */
    }

    /* Footer */
    footer {
        width: 100%;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
    }

    #about {
        grid-area: 1 / 1 / 2 / 2;
    }

    #jobs {
        grid-area: 1 / 2 / 2 / 3;
    }

    #blog {
        grid-area: 1 / 3 / 2 / 4;
    }

    #advertise {
        grid-area: 1 / 4 / 2 / 5;
    }

    #develpoers {
        grid-area: 1 / 5 / 2 / 6;
    }

    #guidelines {
        grid-area: 1 / 6 / 2 / 7;
    }

    #help {
        grid-area: 1 / 7 / 2 / 8;
    }

    #help-forums {
        grid-area: 1 / 8 / 2 / 9;
    }

    #privacy {
        grid-area: 1 / 9 / 2 / 10;
    }

    #terms {
        grid-area: 1 / 10 / 2 / 11;
    }

    #cookies {
        grid-area: 1 / 11 / 2 / 12;
    }

    #english {
        grid-area: 1 / 12 / 2 / 13;
    }

    #footer-slogan {
        grid-area: 1 / 13 / 2 / 14;
        align-self: center;
    }

    .social-icons {
        grid-area: 1 / 14 / 2 / 16;
        gap: 1.3rem;
    }

    .social-icons a {
        font-size: 1.2rem;
    }

    footer a {
        color: var(--clr-light);
        font-size: var(--fs-footer-a);
    }

    #help,
    #cookies {
        display: block;
    }

    #about,
    #jobs,
    #blog,
    #advertise,
    #developers,
    #guidelines,
    #help,
    #help-forums,
    #privacy,
    #terms,
    #cookies,
    #english {
        border-bottom: none;
        text-align: center;
        padding: 0;
    }

    .footer-text-hidden {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    /* Images */
    /* Images */
    .image-large-1 {
        background-image: url("../img/large/grass_large.jpg");
    }
    .image-large-2 {
        background-image: url("../img/large/mount_grass_large.jpg");
    }
    .image-large-3 {
        background-image: url("../img/large/mount_snow_stars_large.jpg");
    }
    .image-large-4 {
        background-image: url("../img/large/person_sunset_large.jpg");
    }
    .image-large-5 {
        background-image: url("../img/large/river_large.jpg");
    }

    /* Header */

    header .logo {
        display: flex;
        align-items: center;
        color: var(--clr-white);
        font-size: 1.7rem;
    }

    header .logo img {
        width: 30px;
        margin-right: 10px;
    }

    header .search_hidden {
        display: flex;
        align-items: center;
    }

    header .search_hidden label {
        background: var(--clr-white);
        color: var(--clr-black);
        display: flex;
        align-items: center;
        color: var(--clr-black);
        padding: 6px;
        height: 20px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    header .search_hidden input {
        padding: 5px;
        width: 40vw;
        height: 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid var(--clr-white);
    }

    header .header-buttons #search_small {
        display: none;
    }

    header .header-buttons a {
        margin-left: 1rem;
    }

    main a.btn {
        font-size: var(--fs-main-btn);
        font-weight: 700;
        padding: 1rem 1.5rem;
    }
}
