/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat", sans-serif; */

:root {
    /* Colors */
    --clr-white: rgb(243, 245, 246);
    --clr-light: rgba(255, 255, 255, 0.6);
    --clr-lighter: rgba(255, 255, 255, 0.2);
    --clr-dark: rgb(33, 33, 36);
    --clr-black: rgb(0, 0, 0);
    --clr-black-soft: rgba(0, 0, 0, 0.2);
    /* Media queries */
    /* Medium - 700px */
    /* Large - 900px */
    /* X Large - 1200px */
    /* Font-sizes */
    /* extra-large

    */
    --fs-h1: 1.7rem;
    --fs-main-btn: 1rem;
    --fs-main-a: 0.9rem;
    --fs-footer-a: 0.7rem;
}
/* X Large */
@media screen and (min-width: 1200px) {
    :root {
        --fs-h1: 4rem;
        --fs-h3: 2rem;
        --fs-main-btn: 1.7rem;
        --fs-main-a: 0.5rem;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global */
body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

body a {
    color: #fff;
    text-decoration: none;
    font-size: var(--fs-main-a);
}

body a.btn {
    padding: 7px 20px;
    background: #fff;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
}
/* Main-container */
.main-container {
    background-image: url("../img/mobile/mount_stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 105svh;
    display: flex;
}

/* Header */
.main-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-black-soft);
    padding: 15px;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
}

header .logo {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    font-size: 1.7rem;
}

header .logo img {
    width: 30px;
    margin-right: 10px;
}

header .search_hidden {
    display: none;
}

header .header-buttons a {
    margin-left: 1rem;
}

header .header-buttons .btn {
    display: none;
}

/* Main */
main {
    margin: auto;
    color: var(--clr-white);
    text-align: center;
    height: 15vh;
}

main h1 {
    font-size: var(--fs-h1);
    margin-bottom: 2rem;
}

main h3 {
    display: none;
}

main a.btn {
    font-size: var(--fs-main-btn);
    font-weight: 700;
}

/* Footer */
footer {
    width: 100%;
    background: var(--clr-black);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px;
    text-align: center;
}

footer a,
footer .footer__middle .footer-text-hidden {
    color: var(--clr-light);
    font-size: var(--fs-footer-a);
}

footer .footer__left {
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer .footer__left a {
    padding: 10px 0;
    border-bottom: 1px solid var(--clr-lighter);
}

footer .footer__middle {
    padding: 15px 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media screen and (min-width: 1200px) {
    /* Header */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--clr-black-soft);
        padding: 15px;
        height: 10vh;
    }

    header .logo {
        display: flex;
        align-items: center;
        color: var(--clr-white);
        font-size: 1.7rem;
    }

    header .logo img {
        width: 30px;
        margin-right: 10px;
    }

    header .search_hidden {
        display: flex;
        align-items: center;
    }

    header .search_hidden label {
        background: var(--clr-white);
        color: var(--clr-black);
        display: flex;
        align-items: center;
        color: var(--clr-black);
        padding: 6px;
        height: 20px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    header .search_hidden input {
        padding: 5px;
        width: 40vw;
        height: 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid var(--clr-white);
    }

    header .header-buttons #search_small {
        display: none;
    }
    header .header-buttons a {
        margin-left: 1rem;
    }

    /* Main */
    .main-container {
        background-color: brown;
        height: 80vh;
        display: flex;
        align-items: center;
    }
    main {
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
        width: 50vw;
        margin: auto;
        color: var(--clr-white);
        text-align: center;
    }

    main h1 {
        font-size: var(--fs-h1);
        margin-bottom: 3rem;
    }

    main h3 {
        font-size: var(--fs-h3);
        line-height: 3rem;
    }

    main a.btn {
        width: fit-content;
        margin: 5vh auto 0;
        font-size: var(--fs-main-btn);
        font-weight: 700;
    }

    /* Footer */
    footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 10vh;
        background: var(--clr-black);
        display: flex;

        align-items: center;
    }
}
